*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: #fff2ec;
  padding: 20px;
}

button{
    background: #fe3b01;
    color: white;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 1rem;
border-radius: 15px;
letter-spacing: 1px;
cursor: pointer;

}
button:hover{
        background: white;
    color: #fe3b01;
}
.country-card {
  width: 300px;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  font-family: system-ui, sans-serif;
  height: auto;
}

.country-flag {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card-body {
  padding: 16px;
}

.country-name {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}

.country-location {
  margin: 4px 0 12px;
  font-size: 14px;
  color: #666;
}

.card-body h3 {
  margin: 12px 0 8px;
  font-size: 16px;
}

.country-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.country-info li {
  font-size: 14px;
  margin-bottom: 6px;
  color: #333;
}
h1{
  font-family: 'Poppins',sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}